<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', title='Accueil'); %>

<body>

<%- include('../partials/header', role=role); %>

<main class="container">


    <div id="liste-offres" class="row justify-content-between">
        <%- include('../partials/title', title="Offres d'emploi"); %>
        <%- include('../partials/tri-filtres'); %>
    </div>

    <%- include('../partials/cardsRows'); %>

</main>
</body>
</html>