<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', title='Créer une organisation'); %>

<body>

<%- include('../partials/headers/header', role=role); %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 d-flex justify-content-center">
            <%- include('../partials/title', title="Rejoindre une organisation"); %>
        </div>
        <form id="create-orga-form" class="col-md-8 mt-3 row g-3" action="/organisations/annuler-demande-rejoindre-orga" method="POST">
            <input type="hidden" value="<%= orga.siren %>" id="siren">
            <div id="success-message" style="display: none" class="alert alert-success" role="alert">
                La demande pour rejoindre l'organisation a bien été enregistrée et transmise.<br>
                Vous serez automatiquement redirigé vers le portail recruteur de votre organisation lorsque la demande aura été acceptée.<br>
                Pour saisir une nouvelle demande, veuillez annuler celle en cours.
            </div>
            <div id="alert-messages" style="display: none"></div>
            <div class="col-12" id="info-message">
                <div class="d-flex justify-content-center">
                    <div class="alert alert-primary alert-dismissible fade show d-flex align-items-center col-10" role="alert">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle-fill me-3" viewBox="0 0 16 16">
                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                        </svg>
                        <div>
                            Une demande pour rejoindre l'organisation <%= orga.siren %> a déjà été envoyée.<br />
                            Pour en saisir une nouvelle, veuillez annuler celle en cours.
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <button type="button" class="btn btn-lg btn-danger" id="btn-annuler-demande">
                    Annuler la demande <i class="bi bi-x-circle"></i>
                </button>
            </div>
        </form>
    </div>
</div>

<script src="/js/cancelRejoindreOrga.js"></script>
</body>
</html>
