<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', title='Créer une organisation'); %>

<body>

<%- include('../partials/headers/header', role=role); %>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-12 d-flex justify-content-center">
            <%- include('../partials/title', title="Rejoindre une organisation"); %>
        </div>
        <div id="alert-messages" class="d-flex justify-content-center col-md-8 mt-3"></div>
        <div class="col-md-6 row gy-4 justify-content-center align-items-center">
            <div class="col-md-4">
                <label class="form-label">Type d'organisation</label>
                <select class="form-select" id="type-orga-select">
                    <option value="0" selected>Tous</option>
                    <option value="1">Entreprises</option>
                    <option value="2">Associations</option>
                </select>
            </div>
            <div class="col-md-4">
                <label class="form-label">Organisations</label>
                <select class="form-select" id="select-orga">
                    <option value="" disabled selected>Choisir</option>
                    <optgroup id="opt-grp-assos" label="Associations">
                        <%
                        let entreprises = orgas.filter(function(orga) {
                            return orga.id_type_organisation === 1;
                        });
                        let associations = orgas.filter(function(orga) {
                            return orga.id_type_organisation === 2;
                        });

                        associations.forEach(asso => { %>
                            <option value="<%= orga.siren %>"><%= asso.siren %> | <%= asso.nom %></option>
                        <% }); %>
                    </optgroup>
                    <optgroup id="opt-grp-entreprises" label="Entreprises">
                        <% entreprises.forEach(orga => { %>
                        <option value="<%= orga.siren %>"><%= orga.siren %> | <%= orga.nom %></option>
                        <% }); %>
                    </optgroup>
                </select>
            </div>
            <div class="text-center col-md-8">
                <button class="btn btn-role-outline col-md-12" id="btn-rejoindre" disabled>Demander à rejoindre l'organisation</button>
            </div>
        </div>
    </div>
    <div class="col-6 d-flex justify-content-center">
        <div id="errorMessage" style="display: none" class="alert alert-danger text-center" role="alert">
            Une erreur est survenue. Contactez les administrateurs.
        </div>
    </div>
    <%- include("../partials/modals/modal-rejoindre-orga"); %>
</div>

<script src="/js/rejoindreOrga.js"></script>
</body>
</html>