<div class="col-lg-6">
    <div class="card">
        <div class="card-body row">
            <div class="col-sm-8">
                <h5 class="card-title">
                    <a id="offre-link" class="text-black" href="/offres/<%= offre.id_offre%>">
                        <%= offre.intitule %>
                    </a>
                </h5>
                <div class="card-text"><i class="bi bi-buildings"> </i><%= offre.nom_orga %></div>
                <p class="card-text"><i class="bi bi-geo-alt"></i> <%= offre.lieu_mission %></p>
<!--                <a class="btn btn-primary btn-lg" href="./offres/<#%=offre.id_offre%>>"-->
<!--                >Candidater</a>-->
                <button type="button" class="btn btn-primary btn-lg"
                onclick="openCandidaturePiece('<%=offre.id_offre%>')"
                >Candidater</button>
                <!--<button type="button" class="btn btn-primary btn-lg"
                data-bs-toggle="modal" data-bs-target="#modalCandidaterOffre<%#= offre.id_offre %>"
                >Candidater</button>-->
            </div>
            <div class="col-4 card-logo">
                <img class="logo-profil-offre" src="/img/logos/<%= offre.chemin_logo %>">
            </div>
        </div>
    </div>
    <%#- include("../partials/modals/modal-valider-candidature.ejs", offreEmploi=offre, candidat=user);%>
</div>