<div class="row gy-3">
    <%- include('card'); %>
    <%- include('card'); %>
    <%- include('card'); %>
    <%- include('card'); %>
    <%- include('card'); %>
    <%- include('card'); %>
    <%- include('card'); %>
    <%- include('card'); %>
</div>