<div class="col-lg-6">
    <div class="card">
        <div class="card-body row">
            <div class="col-sm-8">
                <h5 class="card-title">
                    <a id="offre-link" class="text-black" href="/offres/<%= offre.id_offre %>">
                        <%= offre.intitule %>
                    </a>
                </h5>
                <div class="card-text mt-1"><i class="bi bi-buildings"> </i><%= offre.nom_orga %></div>
                <div class="card-text mt-1 mb-2"><i class="bi bi-geo-alt"></i> <%= offre.lieu_mission%></div>
                <div class="card-text offre-etat-<%= offre.id_etat_offre%> d-inline-block w-auto mb-3"><%= offre.etat %></div>
                <div class="d-flex justify-content-start">
                    <a type="button" class="btn btn-role btn-lg" href="/offres/<%= offre.id_offre %>">Consulter</a>
                    <a href="/offres/modifier/<%= offre.id_offre %>" class="btn-icon-role ms-3" data-bs-placement="bottom" data-bs-toggle="popover"
                       data-bs-trigger="hover focus" data-bs-content="Modifier l'offre">
                        <svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                    </a>
                    <a class="btn-icon-role ms-3" tabindex="0" data-bs-placement="bottom" data-bs-toggle="popover"
                       data-bs-trigger="hover focus" data-bs-content="Supprimer définitivement l'offre">
                        <span data-bs-toggle="modal" data-bs-target="#modalSuppressionOffre">
                            <svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5Zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6Z"/>
                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1ZM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118ZM2.5 3h11V2h-11v1Z"/>
                        </svg>
                        </span>
                    </a>
                    <% if(offre.id_etat_offre === 1) {%>
                        <a href="#" class="btn-icon-role ms-3" tabindex="0" data-bs-placement="bottom" data-bs-toggle="popover"
                           data-bs-trigger="hover focus" data-bs-content="Publier l'offre">
                            <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                            </svg>
                        </a>
                    <% } else if(offre.id_etat_offre === 2) { %>
                            <a href="#" class="btn-icon-role ms-3" data-bs-placement="bottom" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Retirer l'offre">
                                <svg xmlns="http://www.w3.org/2000/svg" width="49" height="49" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                </svg>
                            </a>
                    <% } %>
                </div>
            </div>
            <div class="col-4 card-logo">
                <img src="/img/logos/<%= offre.chemin_logo%>" class="logo-profil-offre">
            </div>
        </div>
    </div>
</div>
<%- include("./modals/modal-suppression-offre.ejs", offreEmploi=offre);%>
<script>
    document.querySelectorAll('[data-bs-toggle="popover"]')
        .forEach(popover => {
            new bootstrap.Popover(popover)
        })
</script>