<div id="liste-offres" class="row justify-content-between">
    <%- include('../partials/title', title="Offres d'emploi"); %>
    <%- include('../partials/tri-filtres'); %>
</div>

<div class="row gy-3">
    <%- include('../partials/card-recruteur'); %>
    <%- include('../partials/card-recruteur'); %>
    <%- include('../partials/card-recruteur'); %>
    <%- include('../partials/card-recruteur'); %>
    <%- include('../partials/card-recruteur'); %>
    <%- include('../partials/card-recruteur'); %>
    <%- include('../partials/card-recruteur'); %>
    <%- include('../partials/card-recruteur'); %>
</div>